header{
    font-size: x-large;
    font-display: auto;
    text-align: center;
}
.content{
    text-align: center;
    font-size: larger;
}
#box{
    margin-left: 500px;
    margin-right: 400px;
    margin-top: 20px;
    border: 10px solid rgba(34, 136, 225, 0.644);
    background-color: rgb(198, 232, 242);
    width: 500px;
    height: 300px;
    align-content: center;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5% ;
    border-top-right-radius: 5%;
    border-top-left-radius: 5% ;
    font-family: lucida;

}

body{
    background: linear-gradient(45deg,#ff7eb3,#65dff6,#9b5fff,#ff9d65);
    background-size: 400% 400%;
animation: gradient 12s infinite ease-in-out;
}
@keyframes gradient {
    0% {background-position: 0% 50%; }
     50% {background-position: 100% 50%; }
      100% {background-position: 0% 50%; }
}
h1{
    font-size: x-large;
    text-align: center;
    margin-top: 50px;
    font-family: lucida;
}


#user{
     width: 300px;
     height: 25px;
     font-family: lucida;
}

#pass{
     width: 300px;
     height: 25px;
     font-family: lucida;
}
#user{
    
}



.box-link{
    display:inline-block;
    padding:5px 5px;
    border: 2px solid #333;
    text-decoration: none;
    color:#333;
    font-size: 18px;
 width: 300px;
     height: 35px;
     font-size: larger;
     background-color: rgb(75, 75, 235);
     font-family: lucida;
}
